@font-face {
  font-family: 'Coptic';
  src: url('/assets/fonts/Coptic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CS New Athanasius';
  src: url('/assets/fonts/CS New Athanasius.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
